@charset "utf-8";
/* CSS Document */
h2  {
    width: 250px; float: left; padding-left: 3em ; font-family: arial; 
}
#limpiar {
   clear: both;
}
p, a { 
   font: bold 1.2em arial; text-decoration: none; 
}

